@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,900&dispaly=swap");


:root{
    --orange:#ff6347;
    --dark-color:#ff4508;
    --black:black ; 
    --light-color:black;
    --border-hover:1rem solid var(--black);
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 0.5rem 1rem Orgba(0,0,0,0.1);

}


*{
    font-family: 'Poppins', sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    transition: width none;
    box-sizing: border-box;
    
}


section{
    width: 105%;
    height:100%;
}

section .main{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    position: relative;
    font-size: 55px;
    top:80px;
    left:25px;
}

section .main h1{
    color:red;
}

section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}

section .main .main_tag{
    position:relative;
    
    
}

section .main .main_img img{
    width:980px;
    position:relative;
    top:20px;
    margin-right: 20px;
    margin-left:20px;
    
}







.header .header-1{
    width:1525px;
    display:flex;
    background: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem 9%;
}


.header .header-1 .from-box{
    width: 40rem;
    height: 2.5rem;
    margin-top:15px;
    margin-bottom: 15px;
    overflow: hidden;
    background: #fff;
    border: var(--border);
    border-radius: 0.5rem;
    display: flex;
    border-color: #000000;
    align-items: center;
}

.header .header-1 .from-box input{
    font-size: 1rem;
    margin-top: 2px;
    padding: 0 1.1rem;
    color: var(--black);
    width: 120%;
    height: 100%;
    text-decoration: none;
}

.header .header-1 .from-box label{
    font-size: 1.5rem;
    color: var(--black);
    margin-right: 1.5rem;
    cursor: pointer;
}


.header .header-1 .from-box label:hover{
    color: var(--black);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 1.5rem;
    margin: auto;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
    
}

#search-btn{
    display: none;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: orangered;
}

ul {
    list-style-type: none;
    width:1525px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;

}
  
li {
    float: left;
  

}

li a {
    display: block;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
  
li a:hover {
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    display:inline-block;
    padding: 15px 20px;
}


.login-btn{
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid #fff;
    outline:none;

}


.btn{
    width:75px;
    height:35px;
    background-image:linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    margin-top:15px;
    color:#fff;
    font-size:15px;
}

.btn:hover{
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}



.heading{
    text-align: center;
    margin: 50px 0;
    color:black;
    font-size:30px;
}

.view{
    display: block;
    font-weight:550;
    margin: auto;
    width:100px;
    height:30px;
    background:whitesmoke;
    border: 2px solid black;
    border-radius: 6px;
    margin-top:15px;
    color:black;
    font-size:14px;
}

.view:hover{
    background-color:black;
    color: white;
}


.sec{
    padding:10px 4%;
}

.sec button{
    width:140px;
    height:30px;
    border-radius: 7px;
    background: white;
    border: 2px solid #E62C03;
    margin-top:50px;
    color:#E62C03;
    font-size:14px;
    padding: 0 10px;
    display:block;
    margin:auto;
    margin: 5px;
    text-align: center;
    
}

.sec button:hover{
   
    color: #FFFFFF;
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    display:inline-block;
    color: white;

}


.products{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.products .card{
    width: 180px;
    height:360px;
    background:white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.products .card:hover{
    border:1.5px solid black;
}


.products .card img{
    height: 225px;
    width: 150px;
}

.products .card .title{
    font-size:15px;
    font-weight: 600;
    justify-content: space-between;
    padding: 1px;
}

.products .card .box{
    display:block;
    justify-content: space-between;
    padding:0px;
}

.products .card .box .author{
    font-size:13px;
    padding:1px;
    justify-content: space-between;
}


.products .card .box .rating{
    height:25px;
    width:64px;
    background: #FF4B2B;
    border: 2px solid #FF4B2B;
    color:white; 
}

.products .card .box .rating:hover{
    height:25px;
    width:64px;
    background: white;
    border: 2px solid #FF4B2B;
    color:#FF4B2B;
}



body {
    background-color:whitesmoke;
    width:1440px;
}



/* footer */

.bottom{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.bottom .content{
    width: 565px;
    height:360px;
    background:black;
    border-color:#000000;
    border-radius: 1px;
    padding: 15px;
    margin-bottom: 20px;
}

.bottom .block{
    width: 320px;
    height:340px;
    background:black;
    border-color:#000000;
    color: #eee;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}


.bottom .block .about{
    font-size: 12px;
    line-height: 24px;
}

.facebook-icon{
    font-size: 50px;
}




/* dropdown menu */


.dropbtn {
    background-color: lightgray;
    color: black;
    border: 2px solid black;
    padding: 10px;
    width:90px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover{
    color:red;
    background-color: lightgray;
    border: 2px solid red;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    color:black;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content:hover{
    color:red;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover {
    background-color: white;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.offer .main_image img{
    width:700px;
    position:relative;
    top:50px;
    left:50px;
}








@media screen and (max-width:600px){
    
    body {
        background-color:whitesmoke;
        width:980px;
    }
    

    

    .heading{
        text-align: center;
        margin: 50px 0;
        color:black;
        font-size:20px;
    }

    .header .header-1{
        width:940px;
        display:flex;
        background: #fff;
        justify-content: space-between;
        text-align: center;
        padding: 1.5rem 9%;
    }
    

    .header .header-1 img{
        height:50px;
        width:80px;
        margin-left:0px;
        
    }
    
    .header .header-1 .from-box{
        width: 20rem;
        height: 1.7rem;
        margin-left: 15px;
        margin-top:15px;
        margin-bottom: 15px;
        overflow: hidden;
        background: #fff;
        border: var(--border);
        border-radius: 0.5rem;
        display: flex;
        border-color: #000000;
        align-items: center;
    }
    
    .header .header-1 .from-box input{
        font-size: 0.5rem;
        margin-top: 2px;
        padding: 0 1.1rem;
        color: var(--black);
        width: 120%;
        height: 100%;
        text-decoration: none;
    }
    
    .header .header-1 .from-box label{
        font-size: 1.5rem;
        color: var(--black);
        margin-right: 1.5rem;
        cursor: pointer;
    }
    
    
    .header .header-1 .from-box label:hover{
        color: var(--black);
    }
    
    .header .header-1 .icons div,
    .header .header-1 .icons a{
        font-size: 1.5rem;
        margin: auto;
        margin-left:10px;
        color: var(--black);
        cursor: pointer;
       
        
    }


    .btn{
        width:75px;
        height:35px;
        background-image:linear-gradient(-180deg, #FF7E31, #E62C03);
        border-radius: 6px;
        margin-top:15px;
        color:#fff;
        font-size:15px;
        margin-left:15px;
    }
    
    .btn:hover{
        box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    }
    
    #search-btn{
        display: none;
    }
    
    .header .header-1 .icons div:hover,
    .header .header-1 .icons a:hover{
        color: orangered;
    }


    ul {
        list-style-type: none;
        width:1000px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:black;
    
    }
      
    li {
        float: left;
      
    
    }
    
    li a {
        display: block;
        font-size: small;
        color: white;
        text-align: center;
        padding: 10px 15px;
        text-decoration: none;
    }
      
    li a:hover {
        background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
        display:inline-block;
        padding: 15px 20px;
    }
    
    section .main .main_tag{
        position:relative;
        
    }
    
    section .main .main_tag h2{
        font-size: 15px;
        margin-right:5px;
    }


    section .main .main_tag h4{
        font-size: 10px;
        margin-right:5px;
    }

    section .main .main_img img{
        width:350px;
        position:relative;
        top:20px;
        left:0px;
    }


    .products{
        display:flex;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        overflow-y: auto;

    }
    
    .products::-webkit-scrollbar{
        width:0;
        height: 0.5px;
        color:whitesmoke;
        background-color: whitesmoke;
        margin-left: 0px;
    }

    .products .card{
        width: 180px;
        height:360px;
        background:white;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        margin-right: 60px;
        margin-left: 2px;
    }
    
    .products .card:hover{
        border:1.5px solid black;
    }
    
    
    .products .card img{
        height: 225px;
        width: 150px;
    }
    
    .products .card .title{
        font-size:15px;
        font-weight: 600;
        justify-content: space-between;
        padding: 1px;
    }
    
    .products .card .box{
        display:block;
        justify-content: space-between;
        padding:0px;
    }
    
    .products .card .box .author{
        font-size:12px;
        padding:1px;
        justify-content: space-between;
    }
    
    
    .products .card .box .rating{
        height:25px;
        width:64px;
        background: #FF4B2B;
        border: 2px solid #FF4B2B;
        color:white; 
    }
    
    .products .card .box .rating:hover{
        height:25px;
        width:64px;
        background: white;
        border: 2px solid #FF4B2B;
        color:#FF4B2B;
    }



    


    section .main .main_tag{
        position:relative;
        
        
    }
    
    section .main .main_img img{
        width:480px;
        position:relative;
        top:20px;
        margin-right: 40px;
        margin-left:30px;
        
    }

     
    .sec{
        padding:15px 4%;
    }

    .sec button{
        width:140px;
        height:30px;
        border-radius: 7px;
        background: white;
        border: 2px solid #E62C03;
        margin-top:50px;
        color:#E62C03;
        font-size:14px;
        padding: 0 10px;
        display:block;
        margin:auto;
        margin: 5px;
        margin-right: 10px;
        text-align: center;
    
    }

    .sec button:hover{
    
        color: #FFFFFF;
        background-color: initial;
        background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
        box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
        display:inline-block;
        color: white;

    }



    .bottom{
        display:flex;
        background-color: black;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    
    .bottom .content{
        width: 250px;
        height:200px;
        border-color:#000000;
        border-radius: 1px;
        padding: 15px;
        margin-bottom: 20px;
    }
    
    .bottom .block{
        width: 200px;
        height:200px;
        border-color:#000000;
        color: #eee;
        font-family:'Times New Roman', Times, serif;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
    }
    

    .bottom .content .block h3{
        font-size:15px;
    }

    .bottom .content .block .company{
        font-size:10px;
    }
    
    .bottom .block .about{
        font-size: 7px;
        line-height: 15px;
    }
    
    .facebook-icon{
        font-size: 30px;
    }
    
    .terms{
        font-size: 10px;
    }
    

    
    .offer .main_image img{
        width:790px;
        height: 220px;
        position:relative;
        top:50px;
        margin-left:40px;
    }



}


