@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,900&dispaly=swap");


:root{
    --orange:#ff6347;
    --darck-color:#ff4508;
    --black:black ; 
    --light-color:black;
    --border-hover:1rem solid var(--black);
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 0.5rem 1rem Orgba(0,0,0,0.1);

}


*{
    font-family: 'Poppins', sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    transition: width none;
    box-sizing: border-box;
    
}


section{
    width: 100%;
    height:100%;
}

section .main{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    position: relative;
    font-size: 55px;
    top:80px;
    left:25px;
}

section .main h1{
    color:red;
}

section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}

section .main .main_tag{
    position:relative;
    
}

section .main .main_img img{
    width:780px;
    position:relative;
    top:20px;
    left:10px;
}

/*::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border:1px solid #bdffe6;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background: #bdffe6;
    border-radius:8px;
}

::-webkit-scrollbar-thumb:hover{
    background:lightgray;
}

.scroll-bar{
    height:1000px;
    width:100%;
    border:1px solid gray;
    overflow:auto;

}*/


.header .header-1{
    display:flex;
    background: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem 9%;
}


.header .header-1 .from-box{
    width: 40rem;
    height: 3rem;
    overflow: hidden;
    background: #fff;
    border: var(--border);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.header .header-1 .from-box input{
    font-size: 1rem;
    padding: 0 1.2rem;
    color: var(--black);
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.header .header-1 .from-box label{
    font-size: 1.5rem;
    color: var(--black);
    margin-right: 1.5rem;
    cursor: pointer;
}

.header .header-1 .from-box label:hover{
    color: var(--black);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
    
}

#search-btn{
    display: none;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
  
li {
    float: left;
  

}

li a {
    display: block;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    
    .header .header-1{
        padding: 2rem;
    }
}

@media(max-width:768px){
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .active{
        display:none
    }

    .header .header-1{
        position: relative;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .from-box{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    
    #search-btn{
        display: inline-block;
    }
    
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}


.login-btn{
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid #fff;
    outline:none;

}


.btn{
    width:75px;
    height:35px;
    background: red;
    border: 2px solid red;
    margin-top:15px;
    color:#fff;
    font-size:15px;
    /*border-top-bottom-right-radius:5px;
    border-top-bottom-left-radius:5px;*/

}


/*body.signin{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background: gray;
}

.container .signin{
    max-width:850px;
    width:100;
}*/



.heading{
    text-align: center;
    margin: 50px 0;
    color:black;
    font-size:30px;
}

.view{
    display: block;
    margin: auto;
    width:100px;
    height:30px;
    background:white;;
    border: 2px solid red;
    margin-top:15px;
    color:red;
    font-size:14px;
}

.sec{
    padding:10px 4%;
}

.sec button{
    width:140px;
    height:30px;
    background: red;
    border: 2px solid red;
    margin-top:50px;
    color:#fff;
    font-size:14px;
    padding: 0 10px;
    display:block;
    margin:auto;
    margin: 5px;
    text-align: center;
    
}

.products{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.products .card{
    width: 180px;
    height:360px;
    background:#F1F1F1;
    border-color:#000000;
    /*box-shadow: 10px 10px lightgray;*/
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.products .card img{
    height: 225px;
    width: 150px;
}

.products .card .title{
    font-size:15px;
    font-weight: 600;
    justify-content: space-between;
    padding: 1px;
}

.products .card .box{
    display:block;
    justify-content: space-between;
    padding:0px;
}

.products .card .box .author{
    font-size:13px;
    padding:1px;
    justify-content: space-between;
}



